<div class="btn-wrapper container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1>筋肉した一覧</h1>
    </div>
    <div class="col-12 mx-auto">
        <%= render 'public/relationships/customers_info', customers_info: @customers %>
    </div>
  </div>
</div>

