<div class="main-top">
  <div class="btn-wrapper container">
    <div class="row">
      <h1 id="top">My Exercise <i class="fas fa-running"></i></h1>
    </div>
    <div class="top-sentence">
      筋トレやダイエットして身体を鍛えたり運動やスポーツをする事が好きな人達のためのSNSです。楽しく情報共有やアドバイスなどをしましょう。
    </div>
  </div>
</div>


