<div class="btn-wrapper container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1>タイムライン</h1>
    </div>
    <%= render 'public/exercises/index', exercises: @exercises %>
  </div>
</div>
